{% extends 'app/base.html' %}

{% block title %}Mis Reservas{% endblock %}

{% block content %}
<div class="mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2 style="color: var(--cad-primary);">
            Mis Reservas
        </h2>

    </div>

    <!-- Apartado de clases individuales -->
    <div class="card shadow-sm border-0 mb-4">

        <!-- desplegable -->
        <div class="card-body">

            <button
                class="btn p-0 border-0 bg-transparent text-start w-100"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-clases"
                aria-expanded="true">

                <i class="fa-solid fa-chevron-down me-2"></i>

                <span class="fw-bold fs-4">
                    Clases Individuales
                </span>

            </button>

        </div>

        <div class="collapse show" id="collapse-clases">

            <div class="card-body pt-0">

                {% if reservas %}

                <table class="table table-hover mb-0">

                    <thead class="table-light">

                        <tr>
                            <th class="ps-4">Actividad</th>
                            <th>Turno</th>
                            <th>Fecha</th>
                            <th>Horario</th>
                            <th>Espacio</th>
                            <th>Estado</th>
                            <th class="text-end pe-4" style ="width: 130px;">Acciones</th>
                        </tr>

                    </thead>

                    <tbody>

                        {% for reserva in reservas %}

                        <tr>

                            <td class="ps-4">
                                {{ reserva.clase_programada.clase.turno.actividad.nombre }}
                            </td>
                            
                            <td>
                                {{ reserva.clase_programada.clase.turno.nombre }}
                            </td>

                            <td>
                                {{ reserva.clase_programada.fecha }}
                            </td>

                            <td>
                                {{ reserva.clase_programada.clase.hora_inicio }}
                                -
                                {{ reserva.clase_programada.clase.hora_fin }}
                            </td>

                            <td>
                                {{ reserva.clase_programada.clase.get_espacio_display }}
                            </td>

                            <td>
                                {{ reserva.get_estado_display }}
                            </td>

                            <td class="text-end pe-4">

                                {% if reserva.estado == 'ACTIVA' %}

                                <a href="{% url 'reserva_cancel' reserva.pk %}"
                                    class="btn btn-sm btn-outline-danger">

                                    <i class="fa-solid fa-xmark me-1"></i>
                                    Cancelar
                                </a>

                                {% endif %}

                            </td>

                        </tr>

                        {% endfor %}

                    </tbody>

                </table>

                {% else %}

                <div class="text-center py-4 text-muted">

                    No tenés reservas de clases registradas.

                </div>

                {% endif %}

            </div>

        </div>

    </div>

    <!-- Apartado Turno-->
    <div class="card shadow-sm border-0 mb-4">

    <!-- desplegable -->
    <div class="card-body">
        <button
            class="btn p-0 border-0 bg-transparent text-start w-100"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-inscripciones"
            aria-expanded="true">

            <i class="fa-solid fa-chevron-down me-2"></i>

            <span class="fw-bold fs-4">
                Turnos
            </span>

        </button>

    </div>

    <div class="collapse show" id="collapse-inscripciones">

        <div class="card-body pt-0">

            {% if inscripciones %}

            <table class="table table-hover mb-0">

                <thead class="table-light">

                    <tr>
                        <th class="ps-4">Actividad</th>
                        <th>Turno</th>
                        <th>Fecha de alta</th>
                        <th>Estado</th>
                        <th class="text-end pe-4">Acciones</th>
                    </tr>

                </thead>

                <tbody>

                    {% for inscripcion in inscripciones %}

                    <tr>

                        <td class="ps-4">
                            {{ inscripcion.turno.actividad.nombre }}
                        </td>

                        <td>
                            {{ inscripcion.turno.nombre }}
                        </td>

                        <td>
                            {{ inscripcion.fecha_alta }}
                        </td>


                        <td>
                            {{ inscripcion.get_estado_display }}
                        </td>

                        <td class="text-end pe-4">

                            {% if inscripcion.estado == 'ACTIVA' %}

                            <a href="{% url 'inscripcion_cancel' inscripcion.pk %}"
                               class="btn btn-sm btn-outline-danger">
                                <i class="fa-solid fa-xmark me-1"></i>
                                Dar de baja
                            </a>

                            {% endif %}

                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

            {% else %}

            <div class="text-center py-4 text-muted">
                No tenés inscripciones a turnos.
            </div>

            {% endif %}

        </div>

    </div>

</div>

{% endblock %}